:root{
    --psky-lavender: #9067C6;
    --psky-cherry:  #FFB5C2;
    --psky-red: #D81159;
    --psky-blue: #80A4ED;
}


.nav-link {
    display:flex;
    align-items:center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
}
.nav-link :hover{
    background-color: indigo;
    transform: translateY(-1px);
    color: var(--psky-red);
}

.nav-icon {
  width: 26px;
  height: 26px;
  fill: white;
  color: white;
  display: block;
}

li :hover {
    background-color: indigo; 
}

.post_button {
    display: flex;
    justify-content: center;
    background-color: var(--psky-blue);
    margin-top:80%;
    margin-left:10%;
}